@import "../mixins.scss";
@import "../variables.scss";

.aboutUsShort {
  &__container {
    @include displayRowJCBetween();
    flex-direction: column-reverse;
    align-items: center;
    gap: 5%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__inner {
    @include displayColumn();
  }

  &__text {
    text-indent: 1.5em;
    margin-top: $margin-top-s;
  }

  &__image {
    border-radius: $border-radius;
  }
}
