@import "../mixins.scss";
@import "../variables.scss";

.breadcrumbs {
  @include displayRowAI();
  gap: 8px;
  padding: 20px 0;

  &__link {
    text-decoration: none;
  }

  &__arrow {
    margin: 0 4px;
  }

  &__last_point {
    color: black;
  }
}
