@import "../mixins.scss";
@import "../variables.scss";

.footer {
  @include displayColumnAI();
  padding: 30px 20px;
  background-color: $white-color;
  box-shadow: 0 -2px 4px $box-shadow-color;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__navigation,
  &__details,
  &__contacts {
    flex: 1;
    margin: 10px 0;
    text-align: center;

    @media (min-width: 768px) {
      margin: 0 10px;
    }
  }

  &__navigation {
    @include displayColumn();

    &__link {
      font-size: $font-size-s;
      text-decoration: none;
      transition: color 0.3s ease;
      margin: 10px 0;
    }
  }

  &__details,
  &__contacts {
    p {
      margin: 8px 0;
      font-size: $font-size-xs;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: $font-size-l;
  }
}
