@import "../mixins.scss";
@import "../variables.scss";

.header {
  @include displayRowSpaceBetween();
  padding: 20px 30px;
  background-color: $white-color;
  box-shadow: 0 2px 4px $box-shadow-color;
  position: relative;
  z-index: 20;

  &__logo {
    @include displayRowAI();
  }

  &__navigation {
    display: none;

    @media screen and (min-width: 768px) {
      @include displayRowCenter();
      transition: transform 0.3s ease-in-out;
    }

    &__link {
      margin-left: 30px;
      font-size: $font-size-s;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }

  &__icons {
    @include displayRowAI();
    gap: 15px;
  }

  &__icon {
    &__link {
      position: relative;
      @include displayRowCenter();
      width: 35px;
      height: 35px;

      &__counter {
        position: absolute;
        text-align: center;
        width: 20px;
        height: 20px;
        font-size: $font-size-xs;
        top: -3px;
        right: -3px;
        background-color: $pink-color;
        color: $white-color;
        border-radius: 50%;

        @include displayRowCenter();
      }
    }
  }
}

.burger {
  &__menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &__context {
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: $white-color;
      box-shadow: -2px 0 5px $box-shadow-color;
      z-index: 10;
      padding-top: 15%;
      @include displayColumnAI();
    }

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__navigation {
    @include displayColumnAI();

    &__link {
      margin: 20px 0;
      font-size: $font-size-m;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }
}
