@import "../mixins.scss";
@import "../variables.scss";

.product {
  &__item {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2%;
  }

  &__favIcon {
    position: absolute;
    top: 3%;
    right: 7%;
    z-index: 10;

    @media (min-width: 1439px) {
      right: 15%;
    }

    @media (min-width: 1800px) {
      right: 20%;
    }

    & img {
      filter: brightness(0) invert(1);
      cursor: pointer;
    }
  }

  &__images {
    position: relative;

    & .product__hover__image {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      object-fit: cover;
      transition: opacity 1s;
      z-index: 1;
    }

    &:hover .product__hover__image {
      opacity: 1;
      z-index: 2;
    }
  }

  &__image {
    border-radius: $border-radius;
  }

  &__title {
    font-family: "Jost", Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    z-index: 20;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    background: $white-color;
    padding: 16px 0;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border: 1px solid $white-color;
    }
  }

  &__name {
    @include displayRowJC();
    color: $product-title-color;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-align: center;
  }
}
