@import "../mixins.scss";
@import "../variables.scss";

.swiperProducts {
  margin-top: 15%;

  &__content {
    @include displayColumn();
    margin: 0 -30px -30px;
  }

  &__buttons {
    @include displayRowSpaceBetween();

    @media screen and (max-width: 768px) {
      padding-inline: 5%;
    }
  }

  &__item {
    width: 190px;

    @media screen and (min-width: 568px) {
      width: 220px;
    }

    @media screen and (min-width: 1110px) {
      width: 250px;
    }
  }
}

.swiperButton {
  width: 32px;
  height: 32px;
}

.swiper-wrapper {
  @media screen and (max-width: 768px) {
    padding: 5%;
  }
}
