@import "../mixins.scss";
@import "../variables.scss";

.about {
  margin-top: $margin-top-s;

  &__container {
    @include displayColumnAI();
    text-align: center;
    margin-top: $margin-top-m;
  }

  &__intro {
    font-size: $font-size-l;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__content {
    @include displayColumnJC();
    margin-top: $margin-top-m;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 5%;
    }
  }

  &__text {
    font-size: $font-size-m;
    text-indent: 1.5em;
    margin-bottom: 20px;
    line-height: 1.6;

    &__container {
      @include displayColumn();
      text-align: center;
      width: 100%;

      @media screen and (min-width: 768px) {
        max-width: 600px;
      }
    }
  }

  &__image {
    border-radius: $border-radius;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }

  &__wrapper {
    @include displayColumnAI();
    text-align: left;
    gap: 20px;
  }

  &__titleStory {
    font-size: $font-size-l;
    text-transform: uppercase;
    margin: 20px 0;
  }

  &__images {
    &__container {
      @include displayRowJC();
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &__carousel {
    &__image {
      border-radius: $border-radius;
      margin-bottom: 20px;
      max-width: 100%;
      height: auto;
      margin-top: $margin-top-s;
    }
  }
}
