.contacts {
  margin: auto;
  margin-top: 3%;

  &__details {
    margin-bottom: 20px;
  }

  &__workingHours {
    margin-bottom: 20px;
  }

  &__map {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 18px;
  }
}

iframe {
  width: 100%;
  border: 0;
}
