@import "../mixins.scss";
@import "../variables.scss";

.cart {
  @include displayColumnJC();
  margin: 0 auto;
  margin-top: $margin-top-s;

  &__emptyMessage {
    text-align: center;
    color: $empty-color;
    font-size: $font-size-m;
    margin-top: $margin-top-s;
  }

  &__itemsList {
    list-style: none;
    padding: 0;
  }

  &__item {
    @include displayRowSpaceBetween();
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &__container {
      @include displayRowSpaceBetween();
      width: 100%;
    }

    &__image {
      margin-right: 20px;
      border-radius: $border-radius;
    }

    &__details {
      @include displayColumn();
      text-align: left;
    }

    &__title {
      font-size: $font-size-l;
    }

    &__size {
      font-size: $font-size-s;
      color: $gray-color;
    }

    &__price {
      font-size: $font-size-m;
      color: $gray-color;
    }
  }

  &__removeButton {
    border: none;
    padding: 0 10px;
    cursor: pointer;
  }

  &__total {
    font-size: $font-size-m;
    margin-top: $margin-top-m;
    text-align: right;
    padding-right: 20px;
  }

  &__buttonGroup {
    @include displayRowJCBetween();
    margin-top: $margin-top-m;
  }

  &__clearCartButton {
    @include displayRowAI();
    justify-content: end;
    gap: 5%;
    width: 200px;
    color: $disabled-color;
    margin-left: auto;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      color: $text-color;
    }
  }

  &__submitOrderButton {
    margin-top: $margin-top-l;
    width: 150px;
    height: 50px;
    border: 1px solid $text-color;
    margin-top: $margin-top-m;
    margin-left: auto;
    margin-right: 20px;

    &:hover {
      border-color: $text-color;
      color: $text-color;
    }
  }
}
