@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: "Playfair Display", serif;
}

.home {
  &_header {
    @include displayColumnCenter();
    width: 100%;

    @media screen and (min-width: 568px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      justify-content: space-around;
    }

    &_images {
      position: relative;
      width: 300px;
      height: 500px;

      @media screen and (min-width: 568px) {
        width: 400px;
        height: 600px;
      }
    }

    &_text {
      @include displayColumnJC();

      @media screen and (min-width: 768px) {
        padding-right: 5%;
      }

      @media screen and (min-width: 1024px) {
        padding-right: 10%;
      }

      &--mainText {
        font-size: $font-size-mainTitle-s;
        text-align: center;
        text-transform: uppercase;
        margin: 10px 0;

        @media screen and (min-width: 568px) {
          text-align: end;
          font-size: $font-size-mainTitle-m;
        }

        @media screen and (min-width: 768px) {
          font-size: $font-size-mainTitle-l;
        }
      }

      &--subText {
        @include displayRowCenter();
        font-size: $font-size-m;
        margin: 5px 0;

        @media screen and (min-width: 568px) {
          text-align: end;
          justify-content: end;
          margin: 10px 0;
        }
      }

      &--buttonWrapper {
        @include displayRowJC();
        margin-top: $margin-top-m;

        @media screen and (min-width: 568px) {
          margin-top: $margin-top-xl;
          justify-content: end;
        }

        &--button {
          right: 0;
          width: 150px;
          font-size: $font-size-s;
          padding: 15px 0;
          border: 1px solid $text-color;
          transition: background-color 0.3s ease;
          text-align: center;
          cursor: pointer;

          &:hover {
            @include hoverButton();
          }
        }
      }
    }
  }
}

.buttonNextPage {
  @include displayRowJCEnd();
  gap: 5px;
  font-size: $font-size-m;
  margin-top: $margin-top-m;

  &:hover {
    color: $black-color;
  }
}

.pageTitle {
  font-size: $font-size-xl;
  text-transform: uppercase;
  margin: 10px 0;
}

.container__style {
  padding: 20px 30px;
  min-height: 90vh;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 20px 50px;
  }

  @media screen and (min-width: 1024px) {
    padding: 20px 70px;
  }
}

/* HomePage */

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border-radius: $border-radius;
}

.image.visible {
  opacity: 1;
}

/* Not-found */
.notFound {
  @include displayColumnCenter();
  height: 80vh;
  text-align: center;

  &__heading {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: $border-radius;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: $black-color;
    }
  }
}
