.favourites {
  margin: 0 auto;
  margin-top: 3%;

  &__emptyMessage {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin-top: 3%;
  }

  &__itemsList {
    list-style: none;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__image {
      margin-right: 20px;
      border-radius: 8px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 18px;
      color: #666;
    }

    &__description {
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-block;
        max-width: 300px;
      }

      @media screen and (min-width: 992px) {
        max-width: 300px;
      }
    }
  }

  &__removeButton {
    border: none;
    padding: 0 10px;
    cursor: pointer;
  }
}

.tooltip {
  max-width: 600px;
}
